<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Cotiza tu proyecto
            <br/>
            con nosotros hoy!
        </h2>
        <p>
            Di algo atractivo, informativo y alentador para que den lick al boton en la pagina de contacto.
        </p>
        <a href="/contact" class="cs-button-solid">Cotiza tu proyecto ya!</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>