<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-here.svg" alt="logo" width="264" height="78"></a>
            <p>
                Contenido extra: esta parte es opcional.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Información</h2>
                    </li>
                    <li>
                        <a href="/">Inicio</a>
                    </li>
                    <li>
                        <a href="/about">Nosotros</a>
                    </li>
                    <li>
                        <a href="/projects">Proyectos</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contacto</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Servicios</h2>
                    </li>
                    <li>Servicio 1</li>
                    <li>Servicio 2</li>
                    <li>Servicio 3</li>
                    <li>Servicio 4</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contacto</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click para Enviar Correo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Diseñada y codificada por </span>
        <a href="/" target="_blank" rel="noopener">José Muñoz</a>
        <span class="copyright">
            Copyright {% year %}</span>
    </div>
</footer>
